.title{
    padding-top: 40px;
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 60px;
    color: #007AFF;
}

.button{
    display: flex;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  position: fixed;
  top: 40px;
  right: 40px;
  border: 2px solid #007AFF;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  width: 168px;
  height: 64px;
  justify-content: center;
}

.mensajeListaVacia{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #df5050;
  box-sizing: border-box;
  border-radius: 4px;
}

.reservas-container{
    padding-top: 50px;
}